{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Welcome!
{% endblock %}

{% block content %}
  <p>  Welcome to the experiment!
Please now turn off your cell phone and do not communicate with other participants. You will remain anonymous to each other in this experiment.
      If you have any questions, please raise your hand; an experimenter will come and answer your question.
      Please pay careful attention to the instructions as real money is at stake.
 </p>
<p>You have 20 minutes to read instructions and complete the quiz. The quiz has 6 questions and all the answers can be found in the instructions. <br>
Please press next button to start the quiz if you finish reading the instructions.
</p>

    {% next_button %}

{% endblock %}
