{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ group.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}
    <p>
    {% if group.round_number > 1 %}
    Your opinion in previous round (Round {{ last_round }}) is: {{ opinion_last_round }}
    {% else %}
    Your initial opinion is: {{ opinion_last_round }}
    {% endif %}
    </p>
    <p>
    Subjects you observed in this round (Round {{ group.round_number }}):
    <ul>
        <li>Player 1: {{ observed_player1 }}</li>
        <li>Player 2: {{ observed_player2 }}</li>
    </ul>
    </p>
    <p>
    Please choose your neighbor(s):
    <br>
    {% if player.disconnect_with_player1 > 0 %}
    Your have already connected with this player. You may select 'No' to disconnect with this player.
    {% endif %}
<!--    <input type="checkbox" id="player1" name="{{if_connect_player1}}" value="1"> Player1-Connect-->
<!--    <input type="checkbox" id="player2" name="{{if_connect_player2}}" value="1"> Player2-Connect-->
<!--    <button type="button" id="btn">Submit Player Connect Selection</button></br>-->
    {% formfield player.if_connect_player1 %}
    <br>
    {% if player.disconnect_with_player2 > 0 %}
    Your have already connected with this player. You may select 'No' to disconnect with this player.
    {% endif %}
       {% formfield player.if_connect_player2 %}
    </p>

    {% next_button %}

<!--
<script>
    function getSelectedCheckboxValues(name) {
        const checkboxes = document.querySelectorAll(`input[name="${name}"]:checked`);
        let values = [];
        checkboxes.forEach((checkbox) => {
            values.push(checkbox.value);
        });
        return values;
        }
    btn.onclick = function () {
        liveSend(getSelectedCheckboxValues('player'));
    };
</script>
-->
<!--{{ form.non_field_errors }}-->
{% endblock %}
