{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ group.round_number }}
{% endblock %}

{% block styles %}
<style type="text/css">
.slider {
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  border-radius: 5px;
}
.slider:hover {
  opacity: 1;
}
.ticks {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.slider_container{
    width: 100%; /* Width of the outside container */
	background: #d3d3d3;
}

</style>
{% endblock %}

{% block scripts %}
<script>
var V = {{ Constants.V }};
var f = {{ Constants.f }};
var previousOpinion = {{ opinion_last_round }};
var outputValue_1 = document.getElementById("outputValue_1");
var outputValue_2 = document.getElementById("outputValue_2");
const neighborsOpinionSet = {{ neighbors_opinion_set }};

function update() {
total = 0;
currentOpinion = (document.getElementById("opinion_this_round").value)/1;
outputValue_1.innerHTML = (document.getElementById("opinion_this_round").value)/1;
const neighborsPayoffSet = neighborsOpinionSet.map(neighborPayoffFunction);
neighborsPayoffSet.forEach(totalFunction);
if (neighborsOpinionSet.length <= 0) {
    total = -1*(currentOpinion-previousOpinion)*(currentOpinion-previousOpinion)*1;
}
outputValue_2.innerHTML = Math.round(total*1)/1;
}

function neighborPayoffFunction(neighborOpinion, index, array) {
  return 1*(V-f*(currentOpinion-neighborOpinion)*(currentOpinion-neighborOpinion)-(1-f)*(currentOpinion-previousOpinion)*(currentOpinion-previousOpinion));
}
function totalFunction(value) {
  total += value;
  return total
}



</script>
{% endblock %}

{% block content %}
    <div class="card bg-light m-3">
    <div class="card-body">
    <p>
    <b style="color:red;">ATTENTION</b>
    <br>
    If you don't move the slider to update your position or if your position is negative, your payoff will be <b style="color:red;">zero</b> this round!
    </p>
    </div>
    </div>

    <p>
    {% if group.round_number > 1 %}
        Your position in previous round is: <b style="color:Tomato;">{{ opinion_last_round }}</b>
    {% else %}
        Your initial position is: <b style="color:Tomato;">{{ opinion_last_round }}</b>
    {% endif %}
    </p>
    <p>
    {% if num_neighbors == 0 %}
    You don't have neighbors in this round.
    {% elif num_neighbors == 1 %}
        You have <b style="color:DodgerBlue;">{{ num_neighbors }}</b> neighbor in this round and his or her position is: <b style="color:DodgerBlue;">{{ neighbors_opinion_set }}</b>
    {% else %}
        You have <b style="color:DodgerBlue;">{{ num_neighbors }}</b> neighbors in this round and their positions are: <b style="color:DodgerBlue;">{{ neighbors_opinion_set }}</b>
    {% endif %}
    </p>



    <h5>Slider</h5>
    <p><strong>Please move the slider and update your position this round. Your position should be between 0 and 100.</strong></p>
    <div class="silder_container", oninput="update()">
        <input type="range" min="-1" max="100" value="-1" class="slider" name="opinion_this_round" id="opinion_this_round">
       <p>Your opinion: <span id="outputValue_1"></span></p>
        <p>Total payoff: <span id="outputValue_2"></span> points </p>
    </div>



    {% next_button %}
{{ form.opinion_this_round.errors }}
{% endblock %}
