{% extends "global/Page.html" %}
{% load otree static %}
{% load staticfiles %}

{% block scripts %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
{% endblock %}


{% block title %}
    Question ({{ group.round_number }} of {{ Constants.num_rounds }})
{% endblock %}

{% block content %}
    <p>
        {{ questiontext}}
    </p>
    <p>
        {% formfield player.answer with label="" %}
    </p>

    {% next_button %}

{% endblock %}
