{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block scripts %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
{% endblock %}

{% block content %}
    <div class="card bg-light m-3">
    <div class="card-body">
    <h3>
        Game 2 Instruction
    </h3>
        <p>Hello! This is <strong>Game 2 with 50 rounds</strong>.</p>
        <p style="text-align:justify">
            At the beginning of the game, you will be randomly assigned an initial position and then in the following rounds, you will
            (1) observe two other subjects and decide whether to connect (or reconsider whether to keep the connection if they are already in your network) with them;
            (2) keep updating your position based on your position and your neighbors' positions in previous rounds. <br>
            In Game 2, you will have <b style="color:blue;">20 seconds</b> to choose neighbors and <b style="color:blue;">30 seconds</b> to update position each round.
        </p>
        <p>
            Your payoff in round \( t \) is as follows:
        <ol type="1">
            <li>
                If you have neighbor(s), your payoff this round is: <br>
                <strong>Payoff this round = sum of payoffs with all neighbors </strong> <br>
            And specifically, the payoff with one neighbor is:<br>
<strong>Payoff with neighbor \(k \) = \( \color{red}{250} \) - \( \color{red}{0.9} \) \( * \) (your position in \( t \)  round - neighbor \( k \)'s position in \( t-1 \)  round)\( ^2 \) - \( \color{red}{0.1} \) \( * \)(your position in \( t \)  round - your position in \( t-1 \)  round)\( ^2 \)</strong><br>
            </li>
            <li>
                If you don’t have neighbor, your payoff this round is:<br>
	<strong>Payoff this round = - (your opinion in \( t \)  round - your opinion in \( t-1  \) round)\( ^2 \)</strong>
            </li>
        </ol>
        </p>
    </div>
    </div>

    {% next_button %}

{% endblock %}
