{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ group.round_number }}
{% endblock %}

{% block content %}

    <div class="card bg-light m-3">
    <div class="card-body">
    <p>
    <b style="color:red;">ATTENTION</b>
    <br>
    If you don't select answers for the following questions, your payoff will be <b style="color:red;">zero</b> this round!
    </p>
    </div>
    </div>

    <p>
    {% if group.round_number > 1 %}
    Your position in <b>previous</b> round is: <b style="color:Tomato;">{{ opinion_last_round }}</b>
    <br>

        {% if num_neighbors == 0 %}
        You don't have neighbors in previous round.
        {% else %}
        Your neighbor(s) position in previous round: <b style="color:DodgerBlue;">{{ neighbors_opinion_set }}</b>
        {% endif %}
    {% else %}
    Your <b>initial</b> position is: <b style="color:Tomato;">{{ opinion_last_round }}</b>
    {% endif %}

    </p>
    <p>
    Subjects you observed in this round:
    <ul>
        <li>Player 1: <b style="color:DodgerBlue;">{{ observed_player1 }}</b></li>
        <li>Player 2: <b style="color:DodgerBlue;">{{ observed_player2 }}</b></li>
    </ul>
    </p>
    <div class="card bg-light m-3">
    <div class="card-body">

    <h5>Please choose your neighbor(s):</h5>
    <br>
    <p>
    {% if player.disconnect_with_player1 > 0 %}
    Your have already connected with this player (Player 1). You may select 'No' to disconnect with this player.
    {% endif %}
    {% formfield player.if_connect_player1 %}
    <br>
    {% if player.disconnect_with_player2 > 0 %}
    Your have already connected with this player (Player 2). You may select 'No' to disconnect with this player.
    {% endif %}
       {% formfield player.if_connect_player2 %}
    </p>
    </div>
    </div>
    {% next_button %}

<!--
<script>
    function getSelectedCheckboxValues(name) {
        const checkboxes = document.querySelectorAll(`input[name="${name}"]:checked`);
        let values = [];
        checkboxes.forEach((checkbox) => {
            values.push(checkbox.value);
        });
        return values;
        }
    btn.onclick = function () {
        liveSend(getSelectedCheckboxValues('player'));
    };
</script>
-->
<!--{{ form.non_field_errors }}-->
{% endblock %}