{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Payment
{% endblock %}

{% block scripts %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
{% endblock %}

{% block content %}
    <p>You have completed the experiment.</p>
    <p>You will earn \( \sqrt{ \text{Total credits in game} \* \frac{1}{3}  } \) as your additional payment.</p>
    <br>
<h5> <b style="color:#1E8BDC"> Your total payment is as follows: </b> </h5>
<table class="table">
        <tr>
        <td>Credits earned</td>
        <td>{{payoff_experiment}} points</td>
    </tr>
    <tr>
        <td>Credits to dollar</td>
        <td>${{payoff_experiment_dollar}}</td>
    </tr>
    <tr>
        <td>Participation fee</td>
        <td>${{Constants.participation_fee}}</td>
    </tr>
    <tr>
        <td>Endowments</td>
        <td>${{total_endowments}}</td>
    </tr>
    <tr>
        <th>Total Payments</th>
        <th><b>${{total_payoff_experiment_dollar}}</b></th>
    </tr>
</table>

<p>
    Please click next button to close the experiment and fill out the survey. You can find the session survey form in the <b>zoom chat room</b>. <br>
    After you complete the survey, please click on the blue "raise your hand" icon in Zoom and the host will send you to a breakout room for ID check.
</p>
<br>
    {% next_button %}

{% endblock %}

