{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ group.round_number }}
{% endblock %}

{% block styles %}
<style type="text/css">
.slider {
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  border-radius: 5px;
}
.slider:hover {
  opacity: 1;
}
.ticks {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.slider_container{
    width: 100%; /* Width of the outside container */
	background: #d3d3d3;
}

.sliderticks {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: #D3D3D3;
  height: 10px;
  line-height: 40px;
  margin: 0 0 20px 8.5px;
  padding: 0 1px 0 1px; 
  font-weight: bold;
  font-size: 0.6em;
}

.sliderticksAbove {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.sliderticksAbove p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  height: 10px;
  margin: 0 1px 1.5px 8.5px;
  font-weight: bold;
  font-size: 0.6em;
}

</style>
{% endblock %}

{% block scripts %}
<!-- include the jQuery and jQuery UI scripts -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://rawgit.com/simeydotme/jQuery-ui-Slider-Pips/master/src/js/jquery-ui-slider-pips.js"></script>
                
<script>
    var V = {{ Constants.V }};
    var f = {{ Constants.f }};
    var previousOpinion = {{ opinion_last_round }};
    var outputValue_1 = document.getElementById("outputValue_1");
    var outputValue_2 = document.getElementById("outputValue_2");
    var neighborsOpinionSet = {{ neighbors_opinion_set }};

    var disconnect1 = ("{{ player.disconnect_with_player1 }}" != "True");
    var disconnect2 = ("{{ player.disconnect_with_player2 }}" != "True" );
    console.log(disconnect1);
    console.log(disconnect2);

    // Elements for each radio button 
    var if_connect_player1Yes = document.getElementById("id_if_connect_player1_0");
    var if_connect_player1No = document.getElementById("id_if_connect_player1_1");

    var if_connect_player2Yes = document.getElementById("id_if_connect_player2_0");
    var if_connect_player2No = document.getElementById("id_if_connect_player2_1");

    var player1OpinionValue = {{observed_player1}};
    var player2OpinionValue = {{observed_player2}};

    var num_neighbors = {{num_neighbors}};

    $("#opinion_this_round").slider().slider("pips");

    function update() {
        total = 0;
        currentOpinion = (document.getElementById("opinion_this_round").value)/1;
        outputValue_1.innerHTML = (document.getElementById("opinion_this_round").value)/1;
        const neighborsPayoffSet = neighborsOpinionSet.map(neighborPayoffFunction);
        neighborsPayoffSet.forEach(totalFunction);
        if (neighborsOpinionSet.length <= 0) {
            total = -1*(currentOpinion-previousOpinion)*(currentOpinion-previousOpinion)*1;
        }
        outputValue_2.innerHTML = Math.round(total*1)/1;
    }

    function neighborPayoffFunction(neighborOpinion, index, array) {
        return 1*(V-f*(currentOpinion-neighborOpinion)*(currentOpinion-neighborOpinion)-(1-f)*(currentOpinion-previousOpinion)*(currentOpinion-previousOpinion));
    }

    function totalFunction(value) {
        total += value;
        return total
    }

    // Event Listeners to update neighbor set

    if_connect_player1Yes.addEventListener('change', function() {
        if (this.checked) {
            if(disconnect1){
                disconnect1 = false;
                neighborsOpinionSet.push(player1OpinionValue);
                var p = document.getElementById(parseInt(player1OpinionValue).toString());
                p.style.opacity = '100';
            }
        } else {
            disconnect1 = true;
            const index = neighborsOpinionSet.indexOf(player1OpinionValue);
            if (index > -1) {
                neighborsOpinionSet.splice(index, 1);
                var p = document.getElementById(parseInt(player1OpinionValue).toString());
                p.style.opacity = '0';
            }
        }
        num_neighbors = neighborsOpinionSet.length;
        if (num_neighbors == 0)
            document.getElementById("neighbor_p").innerHTML = "You don't have neighbors in this round.";
        else if (num_neighbors == 1)
            document.getElementById("neighbor_p").innerHTML =
                "You have <b style='color:DodgerBlue;''>" + num_neighbors.toString() + "</b> neighbor in this round and his or her position is: <b style='color:DodgerBlue;''> [" + neighborsOpinionSet + "] </b>" ;
        else
            document.getElementById("neighbor_p").innerHTML =
                "You have <b style='color:DodgerBlue;''>" + num_neighbors.toString() + "</b> neighbors in this round and their positions are: <b style='color:DodgerBlue;'> [" + neighborsOpinionSet + "] </b>";
        update();
    });

    if_connect_player1No.addEventListener('change', function() {
        disconnect1 = true;
        const index = neighborsOpinionSet.indexOf(player1OpinionValue);
            if (index > -1) {
                neighborsOpinionSet.splice(index, 1);
                var p = document.getElementById(parseInt(player1OpinionValue).toString());
                p.style.opacity = '0';
            }
        num_neighbors = neighborsOpinionSet.length;
        if (num_neighbors == 0)
            document.getElementById("neighbor_p").innerHTML = "You don't have neighbors in this round.";
        else if (num_neighbors == 1)
            document.getElementById("neighbor_p").innerHTML =
                "You have <b style='color:DodgerBlue;''>" + num_neighbors.toString() + "</b> neighbor in this round and his or her position is: <b style='color:DodgerBlue;''> [" + neighborsOpinionSet + "] </b>" ;
        else
            document.getElementById("neighbor_p").innerHTML =
                "You have <b style='color:DodgerBlue;''>" + num_neighbors.toString() + "</b> neighbors in this round and their positions are: <b style='color:DodgerBlue;'> [" + neighborsOpinionSet + "] </b>";
        update();
    });

    if_connect_player2Yes.addEventListener('change', function() {
        if (this.checked) {
            if(disconnect2){
                disconnect2 = false;
                neighborsOpinionSet.push(player2OpinionValue);
                var p = document.getElementById(parseInt(player2OpinionValue).toString());
                p.style.opacity = '100';
            }
        } else {
            disconnect2 = true;
            const index = neighborsOpinionSet.indexOf(player2OpinionValue);
            if (index > -1) {
                neighborsOpinionSet.splice(index, 1);
                var p = document.getElementById(parseInt(player2OpinionValue).toString());
                p.style.opacity = '0';
            }
        }
        num_neighbors = neighborsOpinionSet.length;
        if (num_neighbors == 0)
            document.getElementById("neighbor_p").innerHTML = "You don't have neighbors in this round.";
        else if (num_neighbors == 1)
            document.getElementById("neighbor_p").innerHTML =
                "You have <b style='color:DodgerBlue;''>" + num_neighbors.toString() + "</b> neighbor in this round and his or her position is: <b style='color:DodgerBlue;''> [" + neighborsOpinionSet + "] </b>" ;
        else
            document.getElementById("neighbor_p").innerHTML =
                "You have <b style='color:DodgerBlue;''>" + num_neighbors.toString() + "</b> neighbors in this round and their positions are: <b style='color:DodgerBlue;'> [" + neighborsOpinionSet + "] </b>";
        update();
    });

    if_connect_player2No.addEventListener('change', function() {
        disconnect2 = true;
        const index = neighborsOpinionSet.indexOf(player2OpinionValue);
            if (index > -1) {
                neighborsOpinionSet.splice(index, 1);
                var p = document.getElementById(parseInt(player2OpinionValue).toString());
                p.style.opacity = '0';
            }
        num_neighbors = neighborsOpinionSet.length;
        if (num_neighbors == 0)
            document.getElementById("neighbor_p").innerHTML = "You don't have neighbors in this round.";
        else if (num_neighbors == 1)
            document.getElementById("neighbor_p").innerHTML =
                "You have <b style='color:DodgerBlue;''>" + num_neighbors.toString() + "</b> neighbor in this round and his or her position is: <b style='color:DodgerBlue;''> [" + neighborsOpinionSet + "] </b>" ;
        else
            document.getElementById("neighbor_p").innerHTML =
                "You have <b style='color:DodgerBlue;''>" + num_neighbors.toString() + "</b> neighbors in this round and their positions are: <b style='color:DodgerBlue;'> [" + neighborsOpinionSet + "] </b>";
        update();
    });

    var sliderTicks = document.getElementById("sliderticks");
    var sliderTicksAbove = document.getElementById("sliderticksAbove");
    var p;
    var node;
    for (let i = 0; i < 81; i++){
        p = document.createElement("p");
        p.innerHTML = i;
        p.id = i.toString();
        p.style.color = "#1E90FF";
        p.style.opacity = '0';
        sliderTicks.append(p);

        var div = document.createElement("div");
        div.style.opacity = '0';
        div.style.display = 'flex';
        div.style.flexDirection = 'column';

        p = document.createElement("p");
        p.style.opacity = '0';
        if(parseInt(previousOpinion) == i) {
            p = document.createElement("p");
            p.innerHTML = i.toString();// + " <br/>  |";
            p.style.color = "#FF6347";
            p.style.opacity = '100';

            div.style.opacity = '100';
        }

        sliderTicksAbove.append(div);
        
        div.append(p);
        
        node = document.createElement("p");
        node.style.fontWeight = '0.2';
        node.innerHTML = '|';
        div.append(node);
        
    }
    for(let i = 0; i < neighborsOpinionSet.length; i++){
        p = document.getElementById(parseInt(neighborsOpinionSet[i]).toString());
        p.style.opacity = '100';
    }
</script>
{% endblock %}

{% block content %}

    <div class="card bg-light m-3">
    <div class="card-body">
    <p>
    <b style="color:red;">ATTENTION</b>
    <br>
    If you don't select answers for the following questions or if you don't move the slider to update your position, your payoff will be <b style="color:red;">zero</b> this round!
    </p>
    </div>
    </div>

    <p>
    {% if group.round_number > 1 %}
    Your position in <b>previous</b> round is: <b style="color:Tomato;">{{ opinion_last_round }}</b>
    <br>

        {% if num_neighbors == 0 %}
        You don't have neighbors in previous round.
        {% else %}
        Your neighbor(s) position in previous round: <b style="color:DodgerBlue;">{{ neighbors_opinion_set }}</b>
        {% endif %}
    {% else %}
    Your <b>initial</b> position is: <b style="color:Tomato;">{{ opinion_last_round }}</b>
    {% endif %}

    </p>
    <p>
    Players you observed in this round:
    <ul>
        <li>Player 1: <b style="color:DodgerBlue;">{{ observed_player1 }}</b></li>
        <li>Player 2: <b style="color:DodgerBlue;">{{ observed_player2 }}</b></li>
    </ul>
    </p>
    <div class="card bg-light m-3">
    <div class="card-body">

    <h5>Please choose your neighbor(s):</h5>
    <br>
    <p>
    {% if player.disconnect_with_player1 > 0 %}
    Your have already connected with this player (Player 1). You may select 'No' to disconnect with this player.
    {% endif %}
    {% formfield player.if_connect_player1 %}
    <br>
    {% if player.disconnect_with_player2 > 0 %}
    Your have already connected with this player (Player 2). You may select 'No' to disconnect with this player.
    {% endif %}
       {% formfield player.if_connect_player2 %}
    </p>
    </div>
    </div>
<!--
<script>
    function getSelectedCheckboxValues(name) {
        const checkboxes = document.querySelectorAll(`input[name="${name}"]:checked`);
        let values = [];
        checkboxes.forEach((checkbox) => {
            values.push(checkbox.value);
        });
        return values;
        }
    btn.onclick = function () {
        liveSend(getSelectedCheckboxValues('player'));
    };
</script>
-->
<!--{{ form.non_field_errors }}-->



    <p id="neighbor_p">
        {% if num_neighbors == 0 %}
        You don't have neighbors in this round.
        {% elif num_neighbors == 1 %}
            You have <b style="color:DodgerBlue;">{{ num_neighbors }}</b> neighbor in this round and his or her position is: <b style="color:DodgerBlue;">{{ neighbors_opinion_set }}</b>
        {% else %}
            You have <b style="color:DodgerBlue;">{{ num_neighbors }}</b> neighbors in this round and their positions are: <b style="color:DodgerBlue;">{{ neighbors_opinion_set }}</b>
        {% endif %}
    <table class="table">
        <tr>
            <th>Neighbor </th>
            <td>Neighbor 1</td>
            <td>Neighbor 2</td>
            <td>Neighbor 3</td>
            <td>Neighbor 4</td>
            <td>Neighbor 5</td>
            <td>Neighbor 6</td>
            <td>Neighbor 7</td>
            <td>Neighbor 8</td>
        </tr>
        <tr>
            <th>Position this round </th>
            <td>{{player.neighbor_opinion_1}}</td>
            <td>{{player.neighbor_opinion_2}}</td>
            <td>{{player.neighbor_opinion_3}}</td>
            <td>{{player.neighbor_opinion_4}}</td>
            <td>{{player.neighbor_opinion_5}}</td>
            <td>{{player.neighbor_opinion_6}}</td>
            <td>{{player.neighbor_opinion_7}}</td>
            <td>{{player.neighbor_opinion_8}}</td>
        </tr>
        <tr>
            <th>Your guess </th>
            <td>{% formfield player.update_neighbor_opinion_1 %}</td>
            <td>{% formfield player.update_neighbor_opinion_2 %}</td>
            <td>{% formfield player.update_neighbor_opinion_3 %}</td>
            <td>{% formfield player.update_neighbor_opinion_4 %}</td>
            <td>{% formfield player.update_neighbor_opinion_5 %}</td>
            <td>{% formfield player.update_neighbor_opinion_6 %}</td>
            <td>{% formfield player.update_neighbor_opinion_7 %}</td>
            <td>{% formfield player.update_neighbor_opinion_8 %}</td>
        </tr>
    </table>

    </p>


    <div class="card bg-light m-3">
    <div class="card-body">
        <h5>Slider</h5>
    <p><strong>Please move the slider and update your position this round. Your position should be between 0 and 80. Your </strong> <b style="color:Tomato;">previous position</b> <strong> and </strong> <b style="color:DodgerBlue;">neighbor positions</b> <strong> are labeled on the slider.</strong></p>
    <div class="silder_container", oninput="update()">
        <div class="sliderticksAbove" id="sliderticksAbove">
        </div>
        <input type="range" min="-1" max="80" value="-1" class="slider" name="opinion_this_round" id="opinion_this_round">
        <div class="sliderticks" id="sliderticks">
        </div>
       <p>Your position: <span id="outputValue_1"></span></p>
        <p>Total payoff: <span id="outputValue_2"></span> points </p>
    </div>
    </div>
    </div>
    <p><strong>Want a higher payoff? Try different connection options and move the slider again. </strong></p>



    {% next_button %}
{{ form.opinion_this_round.errors }}
{% endblock %}